<%= form_with(model: accomodation, local: true) do |form| %>
  <% if accomodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accomodation.errors.count, "error") %> prohibited this accomodation from being saved:</h2>

      <ul>
      <% accomodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :road_number %>
    <%= form.text_field :road_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
