<div class="container">
  <div class="container-accomodations">
    <h1>Immobiliers</h1><br>
    <div class="">
      <%= link_to 'Publier un bien', new_accomodation_path, class:'btnStandard bouncy' %>
    </div><br>

    <div class="card-columns">
      <% @accomodations.each do |accomodation| %>
      <div class="card">
        <img class="card-img-top" src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/gustavo-zambelli-nEvzSXBIhiU-unsplash.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= accomodation.title %> (<%= City.find(accomodation.city_id).name%>)</h5>
          <p class="card-text"><%= accomodation.description %></p>
          <p class="card-text"><small class="text-muted">Mis à jour le <%= accomodation.updated_at.to_formatted_s(:short) %></small></p>
          <td><%= link_to 'Consulter', accomodation %></td>
          <% case %>
          <% when user_signed_in? && current_user.id == accomodation.owner_id %>
          <td><%= link_to 'Modifier', edit_accomodation_path(accomodation) %></td>
          <td><%= link_to 'Supprimer', accomodation, method: :delete, data: { confirm: 'Are you sure?' }, class:'btnDelete' %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
