<section class="first">
    <div class="container">
    </div>
</section>
<div class="container bannerHomepage">
  <h1>Bienvenue sur The Perfect House.</h1><br>
  <h4>L'assistant intelligent pour dénicher vos biens immobiliers de vente et de location en France.</h4><br>
  <%= render 'form' %>
</div>


<div class="text-center">
  <h1>Notre Selection</h1><br>
</div>
<div class="container">
  <div class="container-accomodations">
  




    <div class="card-columns">   
      <% six_last_accomodation.each do |accommodation| %>

        <%= link_to(accommodation) do %>
        <div class="card">
         
            <img class="card-img-top" src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/gustavo-zambelli-nEvzSXBIhiU-unsplash.jpg" alt="Card image cap">
      
          <div class="card-body">
            <h5 class="card-title text-muted"><%= accommodation.title %> (<%= City.find(if_nil_sort_one(accommodation.city_id)).name%>)</h5>
            <p class="card-text text-muted"><%= accommodation.description %></p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

