<section class="first">
    <div class="container">
    </div>
</section>
<div class="container bannerHomepage">
  <h1>Bienvenue sur The Perfect House.</h1><br>
  <h4>L'assistant intelligent pour dénicher vos biens immobiliers de vente et de location en France.</h4><br>
  <%= render 'form' %>
</div>

<div class="text-center">
  <h1>Notre Selection</h1><br>
</div>
<div class="container">
  <div class="card-deck">
    <div class="card">
      
      <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/jarek-ceborski-jn7uVeCdf6U-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title"><%= link_to @random_accommodation.title + ' ' +@random_accommodation.city.name  , accomodation_path(:id => @random_accommodation.id) %>
       </h5>
        <p class="card-text"><div align="justify"><%=@random_accommodation.description %></div></p>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src=" https://theperfecthouse.s3.eu-west-3.amazonaws.com/stephan-bechert-yFV39g6AZ5o-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title"><%= link_to @random_accommodation.title + ' ' +@random_accommodation.city.name , accomodation_path(:id => @random_accommodation.id) %>
        </h5>
         <p class="card-text"><div align="justify"><%=@random_accommodation.description %></div></p>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src=" https://theperfecthouse.s3.eu-west-3.amazonaws.com/ralph-kayden-JDBVXignFdA-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to @random_accommodation.title + ' ' +@random_accommodation.city.name  , accomodation_path(:id => @random_accommodation.id) %>
        </h5>
        <p class="card-text"><div align="justify"><%=@random_accommodation.description %></div></p>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<br><br>
  <div class="card-deck">
    <div class="card">
      <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/jarek-ceborski-jn7uVeCdf6U-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to @random_accommodation.title , accomodation_path(:id => @random_accommodation.id) %>
        </h5>
        <p class="card-text"><div align="justify"><%=@random_accommodation.description %></div></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src=" https://theperfecthouse.s3.eu-west-3.amazonaws.com/stephan-bechert-yFV39g6AZ5o-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to @random_accommodation.title , accomodation_path(:id => @random_accommodation.id) %>
        </h5>
        <p class="card-text"><div align="justify"><%=@random_accommodation.description %></div></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/ralph-kayden-JDBVXignFdA-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to @random_accommodation.title , accomodation_path(:id => @random_accommodation.id) %>
        </h5>
        <p class="card-text"><div align="justify"><%=@random_accommodation.description %></div></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div><br><br>
