



<section class="first">
  <div class="container">
  </div>
</section>


<div class="container bannerHomepage">
  <%= render 'layouts/notification'%>
  <h1>Bienvenue sur The Perfect House.</h1><br>
  <h4>L'assistant intelligent pour dénicher vos biens immobiliers de vente et de location en France.</h4><br>
  <%= render 'form' %>
</div>

<div id="services" class="container pt-5">
  <h3 class="text-center m-5">Si vous êtes professionnel de l'immobilier</h3>
  <div class="row text-center">
    <div class="col-md-4 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
      <div class="service-grid">
        <div class="service">
          <i class="fas fa-hands-helping fa-5x mb-5"></i>
        </div>
        <i class=""></i>
        <h4><a href="#">Publiez des annonces sans vous ruiner.</a></h4>
      </div>
    </div>
    <div class="col-md-4 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
      <div class="service-grid">
        <div class="service">
          <i class="fas fa-shield-alt fa-5x mb-5"></i>
        </div>
        <div class="service">
          <a href="#"><span class="security"></span></a>
        </div>
        <h4><a href="#">Mettre davantage en avant vos biens grâce à des critères d'environnement.</a></h4>
        </div>
      </div>
      <div class="col-md-4 wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceIn;">
        <div class="service-grid">
          <div class="service">
            <i class="fas fa-search fa-5x mb-5"></i>
          </div>
          <div class="service">
            <a href="#"><span class="seconds"></span></a>
          </div>
          <h4><a href="#">Gagner 90% de temps sur le matching avec vos potentiels clients.</a></h4>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!---728x90--->

  </div>


  <br>

  <div class="container">

    <div class="container">
      <div class="text-center m-5">
        <h1>Notre Selection</h1>
      </div>
      <br>
      <div class="card-columns">
        <% @random_accommodation.each do |accommodation| %>
        <%= link_to(accommodation) do %>
        <div class="card">

          <%if accommodation.photo.attached?%>
          <%= image_tag accommodation.photo[0], class:"card-img-top"%>
          <%else %>
            <%= image_tag "https://theperfecthouse.s3.eu-west-3.amazonaws.com/gustavo-zambelli-nEvzSXBIhiU-unsplash.jpg", class:"card-img-top", alt:"Card image cap" %>
          <%end %>

          <div class="card-body">
            <h5 class="card-title text-muted"><%= accommodation.title %> (<%= City.find(if_nil_sort_one(accommodation.city_id)).name%>)</h5>
            <p class="card-text text-muted"><%= accommodation.smart_description %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

