<div class="backgroundprofile">
  <br><br>
  <%= render 'layouts/notification'%>
  <div class="jumbotron jumbotron-fluid-hero">
  </div>
    <div class="profilePic">
      <%if @user.profile_picture.attached?%>
        <%= image_tag @user.profile_picture, alt: 'profile_picture', class:"rounded-circle", width:"150", height:"150" %>
      <%else%>
        <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" width="150" height="150">
      <%end%>
      <%= form_tag user_profile_picture_index_path(@user), multipart: true do %>
      <div class="col-lg-2">
        <%= file_field_tag :profile_picture, class:'btnStandard', value:'change' %>
        <%= submit_tag "Mettre à jour", class:'btnStandard' %>
      </div>
      <% end %>
    </div><br><br>

  <div class="profileWrap">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h3>Mon Profil &nbsp;&nbsp;</h3>
      </div>
      <div class="editBtn d-flex justify-content-center align-items-center" title="Edit"><a href="<%= edit_user_registration_path %>"<span><i class="fas fa-pen"></i></span></a></div><br>
    </div>
    <br><br>
    <h5><i class="far fa-address-card"></i> <%= @user.first_name %> <%= @user.last_name %></h5><hr>
    <i class="fas fa-at"></i> <%= @user.email %><hr>
    <i class="fas fa-mobile-alt"></i> <%= @user.phone %><hr>
    <i class="fas fa-map-marker-alt"></i> <%= @user.address %><hr>
    <i class="fas fa-shopping-cart"></i> Mon abonnement : <a style="color:#ffd369"> <%= @user.offer.name %></a><hr>
    <i class="fas fa-info-circle"></i> Mes informations personnelles<hr>
    <i class="far fa-calendar-alt"></i> Mes publications<br><br>

    <div class="card-columns">
    <% @user.accomodations.each do |accomodation| %>

      <%= link_to(accomodation) do %>
      <div class="card">
        <%if accomodation.photo.attached?%>
          <%= image_tag accomodation.photo[0], class:"card-img-top"%>
        <%else %>
          <img class="card-img-top" src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/gustavo-zambelli-nEvzSXBIhiU-unsplash.jpg" alt="Card image cap">
        <%end %>
        <div class="card-body">
          <h6 class="card-title text-muted"><%= accomodation.title %> (<%= City.find(if_nil_sort_one(accomodation.city_id)).name%>)</h6>
          <p class="card-text"><small class="text-muted">Mis à jour le <%= accomodation.updated_at.to_formatted_s(:short) %></small></p>
          <% if user_signed_in? && current_user.id == accomodation.owner_id  %>
          <div class="row d-flex align-items-center justify-content-around">
            <small><%= link_to 'Modifier', edit_accomodation_path(accomodation) %></small>
            <small><%= link_to 'Supprimer', accomodation, method: :delete, data: { confirm: 'Are you sure?' }, class:'btnDeletesm' %></small>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div><hr>

    <i class="far fa-star"></i> Mes favoris<br><br>

        <div class="card-columns">
    <% user_favorites_accomodation.each do |accomodation| %>

      <%= link_to(accomodation) do %>
      <div class="card">
        <%if accomodation.photo.attached?%>
          <%= image_tag accomodation.photo[0], class:"card-img-top"%>
        <%else %>
          <img class="card-img-top" src="https://theperfecthouse.s3.eu-west-3.amazonaws.com/gustavo-zambelli-nEvzSXBIhiU-unsplash.jpg" alt="Card image cap">
        <%end %>
        <div class="card-body">
          <h6 class="card-title text-muted"><%= accomodation.title %> (<%= City.find(if_nil_sort_one(accomodation.city_id)).name%>)</h6>
          <p class="card-text"><small class="text-muted">Mis à jour le <%= accomodation.updated_at.to_formatted_s(:short) %></small></p>
          <% if user_signed_in? && current_user.id == accomodation.owner_id  %>
          <div class="row d-flex align-items-center justify-content-around">
            <small><%= link_to 'Modifier', edit_accomodation_path(accomodation) %></small>
            <small><%= link_to 'Supprimer', accomodation, method: :delete, data: { confirm: 'Are you sure?' }, class:'btnDeletesm ' %></small>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div><hr>

    <div class="d-flex justify-content-center">
      <%= link_to 'Retour', root_path, class:'btnStandard' %>
    </div><br>
  </div><br><br><br><br><br>
</div>
