<p id="notice"><%= notice %></p>

<div class="container-accomodations">
  <% @offers.each do |offer| %>
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <br>
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          <%= offer.name %>

        </span>
        <br><br>
        <p><%= offer.description %></p>
        <p><%= offer.end_date %></p>
        <p><%= offer.price %>€</p>
        <td><%= link_to 'Pay', new_offer_path(@offers, :offer_id => offer.id ) %></td>


        <div class="container-login100-form-btn text-center">
          <button class="animatedButton" type="submit" style="vertical-align:middle"><span>S'abonner</span></button>
        </div>
        <br><br>
      </div>
    </div>
  </div><br><br>
  <% end %>
  <div class="text-center">
    <%= link_to 'Back', offers_path, class:'btn1' %>
    <%= link_to'New Offer', new_offer_path %>
  </div>
</div>
