<p id="notice"><%= notice %></p>

<div class="container-accomodations">
  <% @offers.each do |offer| %>
  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
      <br>
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-37">
          <%= offer.name %>

        </span>
        <br><br>
        <div class="text-center">
          <p><%= offer.description %></p>
          <p><%= offer.end_date %></p>
          <p><%= offer.price %>€</p>
        </div>

        <div class="container-login100-form-btn text-center">
          <%= link_to "S'abonner", new_offer_path(@offers, :offer_id => offer.id ), class:'btnStandard' %>
        </div>
        <br><br>
      </div>
    </div>
  </div><br><br>
  <% end %>
  <div class="text-center">
    <div class="dme_link">
      <%= link_to 'Retour', root_path, class:'btn1' %>
    </div>
  </div>
</div>
