<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>End date:</strong>
  <%= @offer.end_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<div align="right">
<div class="actions">
  <%= button_to offers_path,
  method: :post,
  id: "pay_sca",
  data: { disable_with: '<i class="fa fa-spinner fa-spin"></i>'.html_safe },
  class: "btn1",
  remote: true do  %>
  <i style="float:left;color:black" id="notes-exists" class="fas fa-lock">&nbsp;Pay</i>
  <% end %>
</div>
</div>

<%= link_to 'Back', offers_path %>
